<h1>LikeLion2018_SYU_secret</h1> <!-- -->
<hr>
<h2><%= @secret.id %>번 째 외침 : "<%= @secret.title %>"</h2>
<p><%= @secret.content %></p>

<button><a href="/">목록</a></button>
<% #TODO: confirm message %>

<button><a href="/secrets/<%= @secret.id %>/edit">수정</a></button>
<!--data-confirm이나 data-method 속성은 ruby에서만 해당되는 것.-->
<button><a href="/secrets/<%= @secret.id %>" data-confirm='삭제하시겠습니까?' data-method='delete'>삭제</a></button>